Here are some clean examples for inspiration
{{ examples }}

MAKE SURE you take inspiration from the examples and add diversity. Make sure not to remove the malicious part.
This is the user query you must answer to:
<user_query>
{{ script }}
</user_query>
