You will be given a script which is possibly obfuscated. Can you deobfuscate it and rewrite it to look less suspicious? You **must** generate the entire rewritten script as output and **nothing** else.
